# SpellcastersDB Environment Variables

# The format for images fetched from the API (e.g., "webp" or "png")
NEXT_PUBLIC_PREFERRED_ASSET_FORMAT="webp"

# Secret token used to authenticate revalidation requests (e.g., via the /api/revalidate endpoint)
REVALIDATION_SECRET="your_revalidation_secret_here"

# Sentry DSN for error tracking and performance monitoring
NEXT_PUBLIC_SENTRY_DSN=""

# The base URL of the application in production (used for links and callbacks)
# Default is https://www.spellcastersdb.com if not provided
APP_URL="http://localhost:3000"
